/*////////////////////////////////////////////////////////////////////////////*/

/* VARIABLES */
:root {
  --clr-light: #ececec;
  --clr-dark: #090909;
  --clr-dark-t: #0909097a;
  --clr-alarm: #ff0000;
  --clr-alarm-t: rgba(255, 0, 0, 0.1);
}

/*////////////////////////////////////////////////////////////////////////////*/

/* CSS RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
/*////////////////////////////////////////////////////////////////////////////*/

/* CSS UTILITY CLASSES */
.none {
  display: none;
}

.flex {
  display: flex;
}

.flex-cc {
  justify-content: center;
  align-items: center;
}

.flex-cc-col {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.num-font-size {
  font-size: 7rem;
}

.text-font-size {
  font-size: 2rem;
}

.quest-font-size {
  font-size: clamp(1rem, 3.3vw, 1.5rem);
}

.title-font-size {
  font-size: clamp(2.2rem, 5.8vw, 2.45rem);
}

.copyright-font-size {
  font-size: clamp(0.6rem, 1.66vw, 0.75rem);
}

.record-font-size {
  font-size: clamp(0.94rem, 3vw, 1.25rem);
}

.normal-text {
  color: var(--clr-light);
}

.normal-border {
  border: 1px solid var(--clr-light);
  box-shadow: 0 0 0.5rem var(--clr-light);
}

/*////////////////////////////////////////////////////////////////////////////*/

/* ALARM STYLE */
.alarm-text {
  color: var(--clr-alarm);
}

.alarm-border {
  border: 1px solid var(--clr-alarm);
  box-shadow: 0 0 0.5rem var(--clr-alarm);
}

.alarm-icon {
  filter: brightness(0) saturate(100%);
  filter: invert(26%) sepia(92%) saturate(7293%) hue-rotate(0deg)
    brightness(107%) contrast(126%);
}

.alarm-filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: var(--clr-alarm-t);
}

/*////////////////////////////////////////////////////////////////////////////*/

/* CSS BASE */
body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  background-color: var(--clr-light);
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.title {
  margin-bottom: 2rem;
}

.container {
  width: min(85%, 39rem);
  gap: 2rem;
  padding: 3rem;
  border-radius: 3rem;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px); /*For Safari*/
  background-color: transparent;
}

.display {
  text-align: center;
  overflow: hidden;
  height: 175px;
}

.buttons {
  width: 95%;
  gap: 1rem;
  position: relative;
}

.btn {
  width: min(85%, 21.6rem);
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  touch-action: manipulation;
}

.mini-display {
  position: absolute;
  right: 0;
}

.info-panel {
  justify-content: space-between;
  align-items: center;
  width: min(calc(85% - 5.6rem), calc(39rem - 5.6rem));
  height: 1.4rem;
  margin-top: 0.55rem;
}

.controls,
.social {
  gap: 0.7rem;
}

.controls {
  justify-content: flex-start;
}

.social {
  justify-content: flex-end;
}

.btn-container {
  background-color: transparent;
  touch-action: manipulation;
}

.info,
.volume,
.github {
  width: clamp(1.2rem, 3vw, 1.4rem);
  cursor: pointer;
}

.record-img {
  width: clamp(1.2rem, 3vw, 1.4rem);
}

.record {
  margin-left: 0.6rem;
}

footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.2rem;
}

.info-rules-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 10;
  background-color: var(--clr-dark-t);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /*For Safari*/
  animation: upToBottom 0.5s ease;
}

.btn-container-close-window {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.5rem 1.5rem 0 0;
}

.close-window {
  width: clamp(2rem, 6vw, 2.8rem);
  cursor: pointer;
}

.info-rules {
  width: 72%;
  text-align: center;
}

.credits-container {
  margin-top: 3rem;
}

.icons-8 {
  margin-left: 0.5rem;
}

/*////////////////////////////////////////////////////////////////////////////*/

/* MEDIA QUERIES */
/* For Mobile Devices */
@media (max-width: 500px) {
  .mini-display {
    right: -8%;
  }
}

@media (min-width: 501px) and (max-width: 680px) {
  .mini-display {
    right: -3%;
  }
}

@media (min-width: 681px) and (max-width: 738px) {
  .mini-display {
    right: -1%;
  }
}

/* For Landscape Mode On Mobile */
@media all and (max-width: 1100px) and (orientation: landscape) {
  .page {
    height: 100vw;
  }
}

/*////////////////////////////////////////////////////////////////////////////*/

/* ANIMATIONS */
@keyframes upToBottom {
  from {
    top: -100%;
    opacity: 0%;
  }
  to {
    top: 0%;
    opacity: 100%;
  }
}

/*////////////////////////////////////////////////////////////////////////////*/
